@import "tailwindcss";

@layer base {
  body {
    background-color: #ffffff;
    color: #0f172a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #0f172a;
    color: #ffffff;
  }
}